
.search-form {
  width: 372px;
  display: block;
  margin: 0 auto;
  padding: 32px 0;
}

.form-input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #fff;
  color: #2e2f42;
}

.form-input:hover {
  border-color: #000;
}

.gallery {
	display: grid;
	gap: 24px;
  padding: 0 36px 36px;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.gallery-item {
  min-width: 300px;
}

.gallery-item img {
  width: 100%;
  aspect-ratio: 9/5;
  object-fit: cover;
}

.gallery-link {
  position: relative;
	display: block;
  border: 1px solid #808080;
  transition: transform 0.3s;
}

.gallery-link:hover {
	transform: scale(1.04);
}

.gallery-item-info {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
  background-color: #fff;
}

.gallery-item-info li {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.04em;
}

.gallery-item-info li p:first-child {
  font-weight: 600;
  line-height: 16px;
}

.gallery-item-info li p:last-child {
  line-height: 24px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader:after {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #4E75FF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.load-more {
  display: block;
  margin: 0 auto 24px;
}

.sl-overlay {
  background-color: #2E2F42CC;
}
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button {
  color: #fff;
}
